body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.font-m-16{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.font-m-17{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.font-m-18{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.home-body{
    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;;
}

.go-back-block{
    margin-top: 20px;
    color: #800080;
    display: flex;
}

.go-back-arrow{
    font-size: 25px;
}

#go-back-text{
    font-weight: 600;
    font-size: 16px;
    color: purple;
    margin-left: 10px;
}

.refcode-wallbal{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ref-code{
    color: #800080;
    font-weight: 400;
}

.code{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    color: #000000;
    border: 2px solid #eae5e5;
    border-radius: 7px;
    text-align: center;
    font-weight: 500;
}

.wallet-bal{
    color: #800080;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid #000000; */
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);
}

.bal{
    color: #000000;
    font-weight: 500;
}

.cards-block{
    margin-top: 40px;
}

.footer{
    margin-top: 50px;
    color: purple;
    font-weight: 500;
}
